body {
  margin: 0;
  font-family: Helvetica Neue;
}

.hidden {
  display: none;
}

.label {
  font: 90px Helvetica Neue;
  fill: red;
  text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -2px black;  
}

div.tooltip {
  background-color: #eeeeee;
  padding: 7px;
  color: red;
  height: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
  font: 27px Helvetica Neue;
  border: 2.5px solid;
  border-color: black;
	border-radius: 5px;
  opacity: 0.9;
  position: absolute;
  text-align: "center";
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}


